In [2]:
def greet(*args):
    for i in args:
        print(f"Hello {i}")
greet("Sachin", "Diwa")

Hello Sachin
Hello Diwa

In [4]:
def print_details(**kwargs):
    for key,value in kwargs.items():
        print(key, value)
print_details(name="Sachin",age=32,country="Nepal")

name Sachin
age 32
country Nepal

In [7]:
def greet(*args,**kwargs):
    for i in args:
        print(i)
    for k,v in kwargs.items():
        print(k,v)
greet("Sachin","Nirman",name="Diwa")

Sachin
Nirman
name Diwa

In [10]:
##Return statement

def multiply(*args):
    mul=1
    for i in args:
        mul*=i
    return mul

print(multiply(1,2,3,4,5,6,7,78))

393120

In [12]:
def tempToF(cel):
    f=(9*cel/5)+32
    return f
print(tempToF(100))

212.0

In [23]:
def is_strong(password):
    """This checks if this is strong or not"""
    if len(password)<8:
        return False
    if not any(char.isdigit() for char in password):
        return False
    if not any(char.islower() for char in password):
        return False
    if not any(char.isupper() for char in password):
        return False
    if not any(char in "@$%#&*^)("   for char in password):
        return False
    return True
print(is_strong("Sachin@123"))
if (is_strong("Sachin@123")==1):
    print("Youre logged in")

True
Youre logged in

In [37]:
def calculate_total_cost(cart):
    total_cost=0
    for items in cart:
        total_cost+=items["price"]*items["quant"]
    return total_cost

cart=[
    {'name':"Apple",'price':32.1,"quant":3},
    {'name':"Orange",'price':31,"quant":3},
    {'name':"Banana",'price':3,"quant":3}
]

price=calculate_total_cost(cart)
print(f"${price}")

$198.3

In [43]:
def check_palindrome(value):
    if(value[::1]==value[::-1]):
        return True
    return False

check_palindrome("123321 123321")

True

In [49]:
def calc_fact(number):
    if number==0:
        return 1
    else:
        return number*calc_fact(number-1)
print(calc_fact(5))

120

In [59]:
def count_word_frequency(file_path):
    word_count={}
    with open(file_path,"r") as file1:
        for line in file1:
            words=line.split()
            for word in words:
                word=word.lower().strip('.,!?;:')
                word_count[word]=word_count.get(word,0)+1

    return word_count

filepath="sample.txt"
word_freq=count_word_frequency(filepath)
print(word_freq)

{'hi': 1, 'my': 2, 'name': 1, 'is': 2, 'sachin': 1, 'i': 1, 'am': 1, 'a': 1, 'student': 1, 'work': 1, 'pending': 1}

In [3]:
intro="My name is Sachin Karki and i am a motivated person that do many works"
words_count={}
for i in intro:
    word=i.lower()
    if word not in words_count:
        words_count[word]=1
    else:
        words_count[word]+=1

print(words_count)

{'m': 5, 'y': 2, ' ': 14, 'n': 5, 'a': 9, 'e': 3, 'i': 5, 's': 4, 'c': 1, 'h': 2, 'k': 3, 'r': 3, 'd': 3, 'o': 4, 't': 4, 'v': 1, 'p': 1, 'w': 1}

In [8]:
##Lambda fucntion


cart=[
    {'name':"Apple",'price':32.1,"quant":3},
    {'name':"Orange",'price':31,"quant":3},
    {'name':"Banana",'price':3,"quant":3}
]
cart1=sorted(cart, key=lambda item: item["price"], reverse="True")
print(cart1)

[{'name': 'Apple', 'price': 32.1, 'quant': 3}, {'name': 'Orange', 'price': 31, 'quant': 3}, {'name': 'Banana', 'price': 3, 'quant': 3}]

In [10]:
##Lambda function
addition=lambda x,y:x+y
print(addition(5,6))

11

In [12]:
def square(x):
    return x**2
square(100)

10000

In [13]:
numbers=[1,2,3,4,5,6,7,8]
for x in numbers:
    print(square(x))

1
4
9
16
25
36
49
64

In [17]:
##or we can use map funcxtion
##It takes two parameterss one is function and numbers

numbers=[1,2,3,4,5,6,7,8]
list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [20]:
numbers=[1,2,3,4,5,6,7,7]
num=list(map(square, numbers))
print(num)

[1, 4, 9, 16, 25, 36, 49, 49]

In [23]:
numbers1=[1,2,3,4,5]
numbers2=[3,4,5,7,8]
added_numbers=list(map(lambda x,y: x+y,numbers1,numbers2))
print(added_numbers)

[4, 6, 8, 11, 13]

In [31]:
nums=["1",""]
print(list(map(bool,nums)))

[True, False]

In [35]:
fruits=["apple","banana","kitkat"]
fruits_upp=list(map(str.upper,fruits))
print(fruits_upp)

['APPLE', 'BANANA', 'KITKAT']

In [40]:
def get_name(person):
    return person['name']

people=[
    {"name":"Sachin", "age":32},
    {"name":"Diwa", "age":31},
    {"name":"Sabin", "age":76},
]

names=list(map(get_name,people))
print(names)

['Sachin', 'Diwa', 'Sabin']

In [45]:
#Filter function
list1=[2,2,23,4,4,35,43534,4565,5]

def is_even(num_list):
        if num_list%2==0:
            return True
        else:
            return False
        

list(map(is_even,list1))

[True, True, False, True, True, False, True, False, False]

In [48]:
list1=[2,2,23,4,4,35,43534,4565,5]
list(filter(is_even,list1))

[2, 2, 4, 4, 43534]

In [49]:
list(filter(lambda x:x>5,list1))

[23, 35, 43534, 4565]

In [53]:
list(filter(lambda x:x>2 and x%2==0,list1))

[4, 4, 43534]

In [62]:
people=[
    {"name":"Sachin", "age":32},
    {"name":"Diwa", "age":31},
    {"name":"Sabin", "age":76},
]
def get_age_greater_than_five(lst):
    return lst["age"]>45
list(filter(get_age_greater_than_five,people))

[{'name': 'Sabin', 'age': 76}]