In [64]:
students={
    "name":"Sachin",
    "id":"E001",
    "grade":"A"

}
print(type(students))
print(students)
for key,value in students.items():
    print(students[key])

<class 'dict'>
{'name': 'Sachin', 'id': 'E001', 'grade': 'A'}
Sachin
E001
A

In [65]:
#key must be unique

employee={
    "name":"Sachin",
    "id":"E001",
    "grade":"A"

}
print(employee["grade"])
print(employee["name"])

A
Sachin

In [66]:
#get method can also bee used

print(students.get("name"))

Sachin

In [67]:
print(students.get("name", "Not Available"))

Sachin

In [68]:
print(id(students))
students["name"]="Rabin"
print(id(students))
students["address"]="Kirtipur"
print(students)

2694592402752
2694592402752
{'name': 'Rabin', 'id': 'E001', 'grade': 'A', 'address': 'Kirtipur'}

In [69]:
#dictionary methods
keys=students.keys()
print(keys)
values=students.values()
print(values)

dict_keys(['name', 'id', 'grade', 'address'])
dict_values(['Rabin', 'E001', 'A', 'Kirtipur'])

In [70]:
print(employee)

{'name': 'Sachin', 'id': 'E001', 'grade': 'A'}

In [71]:
print(students.items())

dict_items([('name', 'Rabin'), ('id', 'E001'), ('grade', 'A'), ('address', 'Kirtipur')])

In [72]:
#Shallow copy

students_copy=students.copy()
print(students)
print(students_copy)

students["name"]="Sachin"
print(students)
print(students_copy)

{'name': 'Rabin', 'id': 'E001', 'grade': 'A', 'address': 'Kirtipur'}
{'name': 'Rabin', 'id': 'E001', 'grade': 'A', 'address': 'Kirtipur'}
{'name': 'Sachin', 'id': 'E001', 'grade': 'A', 'address': 'Kirtipur'}
{'name': 'Rabin', 'id': 'E001', 'grade': 'A', 'address': 'Kirtipur'}

In [79]:
for student in students.values():
    print(student)

Sachin
E001
A
Kirtipur

In [82]:
for key,value in students.items():
    print(f"Key={key}, value={value}")

Key=name, value=Sachin
Key=id, value=E001
Key=grade, value=A
Key=address, value=Kirtipur

In [ ]:
#Nested dictionary
students={
    "student1":{
        "name":"Sachin Karki",
        "age":32,
        "grade":"A"
    },
    "student2":{
        "name":"Samundra Karki",
        "age":12,
        "grade":"A"
    }
}
print(students)

{'student1': {'name': 'Sachin Karki', 'age': 32, 'grade': 'A'}, 'student2': {'name': 'Samundra Karki', 'age': 12, 'grade': 'A'}}

In [ ]:
#Accessing nested dictionaries
print(students["student2"]["age"])

12

In [89]:
for student_id, student_info in students.items():
    print(student_id,student_info)

student1 {'name': 'Sachin Karki', 'age': 32, 'grade': 'A'}
student2 {'name': 'Samundra Karki', 'age': 12, 'grade': 'A'}

In [95]:
for sid, sinfo in students.items():
    for key, value in sinfo.items():
        print(value)

Sachin Karki
32
A
Samundra Karki
12
A

In [98]:
#dictionary comprehensions
squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [106]:
square={}
for x in range(4):
    square[x]=x**2
print(square)

{0: 0, 1: 1, 2: 4, 3: 9}

In [109]:
squares={x:x**2 for x in range(11) if x%2==0}
print(squares)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [118]:
#Practical examples
numbers=[1,1,2,2,2,2,3,3,3,3,4,54,5,5,5,5,56,7]
frequency={}

for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
print(frequency)
# num_count={x:y for x in numbers if y==count(x)}
# print(num_count)

{1: 2, 2: 4, 3: 4, 4: 1, 54: 1, 5: 4, 56: 1, 7: 1}

In [122]:
numbers=[1,2,2,2,2,3,23,43254,3,5435,33,3,2,3,3,3,3,1,1,2,6,4,5]
frequency={}
for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1

print(frequency)

{1: 3, 2: 6, 3: 7, 23: 1, 43254: 1, 5435: 1, 33: 1, 6: 1, 4: 1, 5: 1}

In [127]:
#Merge 2 dictionaries into 1
dict2={"b":3,"c":4}
dict1={"a":1,"b":2}

merged_dict={**dict2,**dict1}
print(merged_dict)

{'b': 2, 'c': 4, 'a': 1}

In [132]:
dict1={x:x**2 for x in range(1,11)}
print(dict1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [133]:
print(dict1[5])

25

In [ ]:
dict1[11]=121
print(dict1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

In [136]:
for k,v in dict1.items():
    print(f"key: {k}, Value= {k}")

key: 1, Value= 1
key: 2, Value= 2
key: 3, Value= 3
key: 4, Value= 4
key: 5, Value= 5
key: 6, Value= 6
key: 7, Value= 7
key: 8, Value= 8
key: 9, Value= 9
key: 10, Value= 10
key: 11, Value= 11

In [139]:
import math
dict2={x:int(math.pow(x,3)) for x in range(1,11)}
print(dict2)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [141]:
dict1={x:x**2 for x in range(1,6)}
dict2={x:x**2 for x in range(6,11)}
merged_dict={**dict1,**dict2}
print(merged_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [145]:
student={"name":"Sachin Karki",
         "age":32,
         "sub":{"math","Science","English"}
         }
print(student)

for sub in student["sub"]:
    print(sub)

{'name': 'Sachin Karki', 'age': 32, 'sub': {'math', 'English', 'Science'}}
math
English
Science

In [147]:
multiples = {i: {i * j for j in range(1, 6)} for i in range(1, 6)}
print(multiples)

{1: {1, 2, 3, 4, 5}, 2: {2, 4, 6, 8, 10}, 3: {3, 6, 9, 12, 15}, 4: {4, 8, 12, 16, 20}, 5: {5, 10, 15, 20, 25}}

In [151]:
square={x:tuple([x**2]) for x in range(1,5)}
print(square)

{1: (1,), 2: (4,), 3: (9,), 4: (16,)}

In [155]:
dict1={x:x**2 for x in range(1,11) if x%2==0}
print(dict1)
dict2={x:y for y,x in dict1.items()}
print(dict2)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}
{4: 2, 16: 4, 36: 6, 64: 8, 100: 10}

In [162]:
def getString(name):
    frequency={}
    l1=list(name)
    for i in name:
        if i in frequency:
            frequency[f"{i}"]+=1
        else:
            frequency[f"{i}"]=1
    return frequency


name="Sachin Karki Allah Akhbar"
print(getString(name))

{'S': 1, 'a': 4, 'c': 1, 'h': 3, 'i': 2, 'n': 1, ' ': 3, 'K': 1, 'r': 2, 'k': 2, 'A': 2, 'l': 2, 'b': 1}

In [170]:
from json import dumps
book={
    "B1":{"name":"The Alchemist","author":"Paulo Coelho","year":1991},
    "B2":{"name":"The One","author":"Paulo Coelho","year":1998}
}
print(book)
for k,v in book.items():
    for key,value in v.items():
        print(f"{key}:{value}")

book_json=dumps(book, indent=5)
print(book_json)

{'B1': {'name': 'The Alchemist', 'author': 'Paulo Coelho', 'year': 1991}, 'B2': {'name': 'The One', 'author': 'Paulo Coelho', 'year': 1998}}
name:The Alchemist
author:Paulo Coelho
year:1991
name:The One
author:Paulo Coelho
year:1998
{
     "B1": {
          "name": "The Alchemist",
          "author": "Paulo Coelho",
          "year": 1991
     },
     "B2": {
          "name": "The One",
          "author": "Paulo Coelho",
          "year": 1998
     }
}