In [15]:
text="My name is Sachin Karki and My hometown is Khanikhola"
l1=[x for x in text]
s1=set(l1)
print(s1)

{'l', 'c', 'e', 'S', 'o', 'n', 'i', 'K', ' ', 'y', 'w', 'h', 'd', 't', 'a', 'k', 'm', 's', 'M', 'r'}

In [17]:
s1={x for x in range(1,11)}
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [20]:
s1.add(11)
s1.remove(1)
print(s1)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [26]:
s2={1,2,4545,65,6,3,4}
print(s1.intersection(s2))
print(s1.union(s2))
print(s1.difference(s2))
print(s1.symmetric_difference(s2))

{2, 3, 4, 6}
{65, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 1, 4545}
{5, 7, 8, 9, 10, 11}
{65, 4545, 1, 5, 7, 8, 9, 10, 11}

In [29]:
names="Sachin Karki is my name"
names=names.split()
setA={x for x in names}
print(setA)

{'Sachin', 'is', 'name', 'my', 'Karki'}

In [33]:
s3=set([x for x in s1 if x%2==0])
print(s3)

{2, 4, 6, 8, 10}

In [36]:
l1=[1,2,2,3,3,4,5,6,6,6]
print(set(l1))

{1, 2, 3, 4, 5, 6}

In [39]:
s1={1,2,3,4,5}
s2={1,2,3}
print(s2.issubset(s1))
print(s1.issubset(s2))
print(s1.issuperset(s2))

True
False
True

In [40]:
print(type(frozenset(s1)))

<class 'frozenset'>

In [41]:
print(type({1}))

<class 'set'>

In [55]:
students={
    "name":{"Sachin", "Diwa","Nirman"},
    "age":[21,21,45]
}
print(students)

for x in students:
    print(students)

{'name': {'Nirman', 'Sachin', 'Diwa'}, 'age': [21, 21, 45]}
{'name': {'Nirman', 'Sachin', 'Diwa'}, 'age': [21, 21, 45]}
{'name': {'Nirman', 'Sachin', 'Diwa'}, 'age': [21, 21, 45]}

In [57]:
print(3 in s1)

True