In [8]:
fruits=["Grapes","Banana"]
fruits.insert(0,"Apple")
print(fruits.index("Apple"))
print(id(fruits))
fruits[0]="Watermelon"
print(fruits[-1::-1])
print(id(fruits))

0
2648061009984
['Banana', 'Grapes', 'Watermelon']
2648061009984

In [17]:
cars=["Toyota","Honda","Mustang"]
print(cars)
cars.append("Mazda")
print(cars)
for i in cars:
    print(i[1:3])
cars.append("Toyota")
print(cars)
print(cars.count("Toyota"))

['Toyota', 'Honda', 'Mustang']
['Toyota', 'Honda', 'Mustang', 'Mazda']
oy
on
us
az
['Toyota', 'Honda', 'Mustang', 'Mazda', 'Toyota']
2

In [19]:
print(fruits)
fruits.clear()
print(fruits)

[]
[]

In [21]:
cars=["Toyota","Honda","Mustang","Helcat"]
for index, value in enumerate(cars):
    print(index, value, sep=(","))

0,Toyota
1,Honda
2,Mustang
3,Helcat

In [27]:
l1=[x**2 for x in range(1,11) if x%3==0]
print(l1)

[9, 36, 81]

In [29]:
student=["Sachin","Diwa","Nirman","Sahil"]
age=[20,16,42,81]
l1=[[i,j] for i,j in zip(student,age)]
print(l1)

[['Sachin', 20], ['Diwa', 16], ['Nirman', 42], ['Sahil', 81]]