In [61]:
tup1=tuple(x for x in range(1,11))
print((tup1))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [64]:
print(tup1[0],tup1[-1],tup1[(0+len(tup1))//2])

1 10 6

In [73]:
print(tup1[0:3],tup1[-1:-4:-1], tup1[2:6:1])

(1, 2, 3) (10, 9, 8) (3, 4, 5, 6)

In [82]:
nested_tup=((1,2,3),(4,5,6),(7,8,9))
print(nested_tup[1][2])

6

In [92]:
t1=(1,2,3)
t2=(3,4,5)
t3=t1+t2
print(t3)

(1, 2, 3, 3, 4, 5)

In [95]:
t4=(3, 2, 3, 3, 4, 5)
print(t4.count(3))
print(t4.index(3))

3
0

In [97]:
t5=(1,2,3,4,5)
a,b,c,d,e=t5
print(a,b,c,d,e)

1 2 3 4 5

In [101]:
l1=[x for x in range(1,6)]
print(l1)
t1=tuple(l1)
print(t1)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [105]:
t1=((1,2,3),("Sachin",3,4),(1,5,6))
for items in t1: 
    for i in items:
        print(i, end=" ")
    print()

1 2 3
Sachin 3 4
1 5 6

In [110]:
t1=tuple(x for x in range(1,6))
print(id(t1))

l1=list(t1)
l1.append("Sachin")
t1=tuple(l1)
print(id(t1))
print(t1)

2718252734304
2718253543296
(1, 2, 3, 4, 5, 'Sachin')

In [113]:
t1=("S","a","c","h","i","n")
name=" "
for i in t1:
    name+=i
print(name)

 Sachin

In [118]:
dict1={
    (1,):"Sachin",
    (2,):"Diwa"
}
print(dict1)

{(1,): 'Sachin', (2,): 'Diwa'}

In [119]:
nested_tup=((1,2,3),(4,5,6),(7,8,9))
for items in nested_tup:
    for i in items:
        print(i ,end="\n")

1
2
3
4
5
6
7
8
9

In [121]:
tup1=(1,2,3,4,5,3,4,5,3,4,6)
s1=set(tup1)
t1=tuple(s1)
print(t1)

(1, 2, 3, 4, 5, 6)

In [126]:
def operateTuple(t):
    t1=[]
    max=0
    for i in t:
        if(i>max):
            max=i
    t1.append(max)
    return t1    

t3=(1,2,3,4,5,6,7,8,9,34)
print(tuple(operateTuple(t3)))

(34,)

In [128]:
def min_tuple(tup):
    return min(tup)

t3=(1,2,3,4,5,6,7,8,9,34)
a=min_tuple(t3)
print(a)

1